:root {
  --color-primary: #EFD3D7;     /* Soft Pink */
  --color-secondary: #FEEAFA;   /* Light Blush */
  --color-background: #d5d5d7;  /* Pale Periwinkle */
  --color-dark: #CBC0D3;        /* Light Lavender Grey */
  --color-accent: #8E9AAF;      /* Muted Blue Grey */
}


body {
  background-color: var(--color-background);
  color: var(--color-dark);
  font-family: 'Segoe UI', sans-serif;
}

header.navbar {
  background-color: var(--color-primary);
  color: white;
}

footer {
  background-color: var(--color-dark);
  color: var(--color-background);
}

button {
  background-color: var();
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

